@charset "utf-8";
/* 
  css設定 @charsetが消されるsass仕様へのハック用コメントです。削除しないでください。新規作成時も必須！
 */
@import "inc/mixin.scss";
@import "inc/functions.scss";
@import "inc/param.scss";
#adtag {
  opacity: 0;
}
.breadcrumb {
  padding: 20px 2%;
  border-top: 1px solid #f1e9dc;
  border-bottom: 1px solid #f1e9dc;
  background: #fff;
  color: #000;
}
.breadcrumb ul {
  display: flex;
  flex-wrap: wrap;
  font-size: 1.4rem;
  font-weight: 300;
  letter-spacing: 0.02em;
  color: #888;
}
.breadcrumb ul li a {
  color: #000;
}
.breadcrumb ul li:not(:last-child) a::after,
.breadcrumb ul li:not(:last-child) p::after {
  content: " ＞ ";
  display: inline-block;
}
.annotation-area {
  background: #fff;
  color: #797979;
  padding: 40px 0;
}
.page-annotation {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 10px;
  line-height: 1.8;
}
.wrap {
  margin: 0 auto;
  width: 84%;
  max-width: 1200px;
}

#access {
  main img {
    max-width: 100%;
  }
  .image {
    position: relative;
    .annotation {
      position: absolute;
      bottom: 10px;
      right: 10px;
      text-align: right;
      font-size: 10px;
      &.white {
        color: #fff;
        text-shadow: 0px 0px 4px #000, 0px 0px 4px #000, 0px 0px 4px #000,
          0px 0px 4px #000;
      }
    }
  }

  main {
    color: #000;
    font-family: "RyuminPro", serif;
    line-height: 1;
  }
  sp {
    display: none;
  }
  pc {
    display: block;
  }
  .page-annotation {
    font-family: "Noto Sans JP", sans-serif;
  }
  .main-visual {
    position: relative;
    display: inline-block;
    padding-bottom: 300px;
    border: none;
    .image {
      position: relative;
      display: inline-block;
      &::after {
        content: "";
        position: absolute;
        bottom: -217px;
        left: 0;
        right: 0;
        width: 1px;
        height: 220px;
        margin: auto;
        background-color: #000;
      }
    }
  }
  .sections {
    .inner {
      margin: 0 auto;
      width: 84%;
      max-width: 1200px;
    }
    .image {
      position: relative;
    }
    .annotation {
      font-size: 10px;
      text-align: right;
    }
    .column02 {
      li {
        vertical-align: top;
        display: inline-block;
        width: 48%;
        margin-right: 2%;
      }
      li:nth-child(2n),
      li:last-child {
        margin-right: auto;
      }
    } //column02
    .column03 {
      li {
        vertical-align: top;
        display: inline-block;
        width: 32%;
        margin-right: 1%;
      }
      li:nth-child(3n),
      li:last-child {
        margin-right: auto;
      }
    } //column03
  } //sections

  .intro {
    text-align: center;
    padding: 0 0 0;
    .tit {
      font-size: 36px;
      line-height: 2;
      margin-bottom: 80px;
    }
    .lead {
      text-align: left;
      font-size: 18px;
      line-height: 1.8;
      margin-bottom: 50px;
    }
    .img01 {
      margin-bottom: 0;
      .annotation {
        bottom: 12%;
      }
    }
    .column02 {
      margin-bottom: 20px;
    }
    .column03 {
      li {
        margin-bottom: 40px;
      }
      .txt {
        margin-top: 20px;
      }
    }
  } //intro
  .network {
    text-align: left;
    max-width: 1200px;
    margin: 0 auto 120px;
    .bg {
      background: #dceff2;
      padding: 50px 50px 0;
      box-sizing: border-box;
    }
    .text {
      font-size: 27px;
      line-height: 1.6;
      margin-bottom: 20px;
      padding-bottom: 20px;
      border-bottom: 0.5px solid #231815;
    }
    .lead {
      font-size: 18px;
      line-height: 1.8;
    }
    .image {
      padding-bottom: 20px;
    }
    li {
      float: left;
      width: 20%;
    }
  } //network
  .airport {
    .text {
      font-size: 27px;
      line-height: 1.6;
      margin-top: 60px;
      margin-bottom: 20px;
    }
    .lead {
      font-size: 18px;
      line-height: 1.8;
      margin-bottom: 40px;
    }
    .column02 {
      li {
        width: 15%;
        margin-right: 1%;
      }
      li:last-child {
        width: 81%;
        margin-right: auto;
      }
      &.bottom {
        margin-bottom: 20px;
      }
    }
    .check {
      background: #dceff2;
      padding: 20px 30px;
      box-sizing: border-box;
      margin: 40px auto 120px;
      .column02 {
        li {
          vertical-align: middle;
          width: 79%;
          margin-right: 2%;
        }
        li:last-child {
          width: 18%;
          margin-right: auto;
        }
      }
    }
  } //airport
  .car {
    margin-bottom: 120px;
    .text {
      font-size: 27px;
      line-height: 1.6;
      margin-top: 60px;
      margin-bottom: 20px;
    }
    .lead {
      font-size: 18px;
      line-height: 1.8;
      margin-bottom: 40px;
    }
    .column02 {
      margin-bottom: 60px;
      li {
        width: 71%;
        margin-right: 4%;
      }
      li:last-child {
        width: 24%;
        margin-right: auto;
      }
      .annotation {
        bottom: -10px;
      }
      .mini {
        font-size: 12px;
        line-height: 1.6;
        margin-top: 20px;
      }
    }
    .column03 {
      .txt {
        margin-top: 10px;
      }
    }
    .tit01 {
      font-size: 27px;
      padding-bottom: 20px;
      margin-bottom: 20px;
      border-bottom: 0.5px solid #000;
      span {
        font-size: 36px;
      }
    }
  } //car

  @media screen and (max-width: 1300px) {
  }
  @media screen and (max-width: 1024px) {
  }
  @media screen and (max-width: 768px) {
    sp {
      display: block;
    }
    pc {
      display: none;
    }

    .main-visual {
      padding-bottom: 100px;
      .image {
        &::after {
          bottom: -60px;
          height: 60px;
        }
      }
    }
    .sections {
      .column02 {
        li {
          display: block;
          width: 100%;
          margin-bottom: 20px;
        }
        li:last-child {
          margin-bottom: auto;
        }
      } //column02
      .column03 {
        li {
          display: block;
          width: 100%;
          margin-bottom: 40px;
          .txt img {
            display: block;
            height: 80px;
            margin: auto;
          }
          .txt.h15 img {
            display: block;
            height: 95px;
            margin: auto;
          }
        }
        li:last-child {
          margin-bottom: auto;
        }
      } //column03
    } //sections

    .intro {
      text-align: left;
      .tit {
        font-size: 22px;
        margin-bottom: 20px;
      }
      .lead {
        text-align: left;
        font-size: 16px;
        line-height: 2;
        margin-bottom: 0;
      }
      .img01 {
        margin-bottom: 40px;
        figure {
          width: 100%;
        }
        .leaflet-top {
          bottom: 0;
        }
        .annotation {
          bottom: 5%;
          z-index: 1000;
        }
      }
      .column02 {
        margin-bottom: 40px;
      }
      .column03 {
        margin-bottom: 40px;
        li {
          margin-bottom: 40px;
        }
        .txt {
          margin-top: 10px;
        }
      }
    } //intro
    .network {
      margin: 0 auto 60px;
      .bg {
        padding: 20px 20px 0;
      }
      .text {
        text-align: left;
        font-size: 20px;
        line-height: 1.8;
        margin-bottom: 10px;
        padding-bottom: 10px;
      }
      .lead {
        font-size: 16px;
        line-height: 2;
      }
      li {
        display: inline-block;
        width: 50%;
        .image {
          line-height: 0;
        }
      }
    } //network
    @media screen and (max-width: 768px) {
      .swipe-img {
        overflow-x: scroll;
        -webkit-overflow-scrolling: touch;
      }
      .swipe-img img {
        max-width: auto !important;
        max-width: inherit !important;
        width: 200% !important;
      }
      .swipe {
        display: block;
        text-align: center;
        padding: 0 0 20px;
      }
      .swipe img {
        max-width: 75px;
        width: 15%;
        height: auto;
        margin: auto;
        pointer-events: none;
      }
    }
    .airport {
      .text {
        text-align: left;
        font-size: 20px;
        line-height: 1.8;
        margin-top: 40px;
        margin-bottom: 20px;
      }
      .lead {
        font-size: 16px;
        line-height: 2;
        margin-bottom: 40px;
      }
      .column02 {
        li {
          width: 50%;
          margin: 0 auto 20px;
        }
        li:last-child {
          width: 100%;
          margin: auto;
          img {
            width: 100%;
          }
        }
        &.bottom {
          margin-bottom: 40px;
        }
      }
      .check {
        padding: 20px;
        margin: 20px auto 60px;
        .column02 {
          li {
            width: 100%;
            img {
              width: 100%;
            }
          }
          li:last-child {
            width: 50%;
            margin: auto;
          }
        }
      }
    } //airport
    .car {
      margin-bottom: 60px;
      .text {
        font-size: 20px;
        line-height: 1.8;
        margin-top: 40px;
        margin-bottom: 20px;
      }
      .lead {
        font-size: 16px;
        line-height: 2;
        margin-bottom: 40px;
      }
      .column02 {
        margin-bottom: 40px;
        li {
          width: 100%;
          margin-bottom: 40px;
        }
        li:last-child {
          width: 100%;
        }
        .mini {
          font-size: 10px;
          margin-top: 30px;
        }
        .image .leaflet-left {
          left: auto;
          right: 10px;
          bottom: 30px;
        }
      }
      .tit01 {
        font-size: 14px;
        line-height: 1.4;
        padding-bottom: 10px;
        span {
          font-size: 21px;
        }
      }
    } //car
  } //sp
  @media screen and (max-width: 550px) {
    .network #wrap {
      height: 65vw;
    }
    .network #scrollimagebox .scrollimage_caption {
      width: 15%;
    }
  }
  @media screen and (max-width: 480px) {
    .network #wrap {
      height: 75vw;
    }
  }
  @media screen and (max-width: 420px) {
    .network #wrap {
      height: 85vw;
    }
  }
  @media screen and (max-width: 360px) {
    .network #wrap {
      height: 95vw;
    }
  }
}
