@charset "utf-8";
/* 
  css設定 @charsetが消されるsass仕様へのハック用コメントです。削除しないでください。新規作成時も必須！
 */
@import "inc/mixin.scss";
@import "inc/functions.scss";
@import "inc/param.scss";
#adtag {
  opacity: 0;
}
.breadcrumb {
  padding: 20px 2%;
  border-top: 1px solid #f1e9dc;
  border-bottom: 1px solid #f1e9dc;
  background: #fff;
  color: #000;
}
.breadcrumb ul {
  display: flex;
  flex-wrap: wrap;
  font-size: 1.4rem;
  font-weight: 300;
  letter-spacing: 0.02em;
  color: #888;
}
.breadcrumb ul li a {
  color: #000;
}
.breadcrumb ul li:not(:last-child) a::after,
.breadcrumb ul li:not(:last-child) p::after {
  content: " ＞ ";
  display: inline-block;
}
.annotation-area {
  background: #fff;
  color: #797979;
  padding: 40px 0;
}
.page-annotation {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 10px;
  line-height: 1.8;
}
.wrap {
  margin: 0 auto;
  width: 84%;
  max-width: 1200px;
}

#design {
  main img {
    max-width: 100%;
  }
  .image {
    position: relative;
    .annotation {
      position: absolute;
      bottom: 10px;
      right: 10px;
      text-align: right;
      font-size: 10px;
      &.white {
        color: #fff;
        text-shadow: 0px 0px 4px #000, 0px 0px 4px #000, 0px 0px 4px #000, 0px 0px 4px #000;
      }
    }
  }

  main {
    color: #fff;
    background: #000;
    font-family: "RyuminPro", serif;
    line-height: 1;
  }
  sp {
    display: none;
  }
  pc {
    display: block;
  }
  .page-annotation {
    font-family: "Noto Sans JP", sans-serif;
  }
  .main-visual {
    position: relative;
    display: inline-block;
    padding-bottom: 50px;
    border: none;
    .image {
      display: none;
      position: relative;
      &::after {
        content: "";
        position: absolute;
        bottom: -217px;
        left: 0;
        right: 0;
        width: 1px;
        height: 220px;
        margin: auto;
        background-color: #000;
      }
    }
  }
  .sections {
    .inner {
      margin: 0 auto;
      width: 84%;
      max-width: 1200px;
    }
    .image {
      position: relative;
    }
    .annotation {
      position: absolute;
      bottom: 10px;
      right: 10px;
      text-align: right;
      font-size: 10px;
      &.white {
        color: #fff;
        text-shadow: 0px 0px 4px #000, 0px 0px 4px #000, 0px 0px 4px #000, 0px 0px 4px #000;
      }
    }
  } //sections

  .intro {
    text-align: center;
    padding: 0 0 0;
    margin-bottom: 100px;
    .tit {
      width: 70%;
      max-width: 762px;
      margin: 0 auto 20px;
    }
    .txt01 {
      font-size: 30px;
      line-height: 1.8;
      letter-spacing: 0.25rem;
      margin-bottom: 40px;
    }
    .txt02 {
      font-size: 36px;
      line-height: 1.8;
      margin-bottom: 40px;
    }
    .lead {
      font-size: 18px;
      line-height: 1.8;
    }
    .tab-inner {
      margin-bottom: 80px;
    }
    .slick-slide {
      position: relative;
    }
    .thumbnail .slick-track {
      transform: unset !important;
    }
    .slick-list,
    .slick-track {
      justify-content: center;
    }
    .thumbnail-img {
      opacity: 0.3;
      transition: opacity 0.3s linear;
      width: 12% !important;
      margin: 20px 10px 0;
    }
    .thumbnail-img.slick-current {
      opacity: 1;
    }
  } //intro
  .landscape {
    text-align: center;
    margin: 0 auto 120px;
    .tit {
      font-size: 30px;
      background: #ae9e4b;
      padding: 20px 0 15px;
      color: #000;
      letter-spacing: 0.16em;
      margin-bottom: 50px;
      span{
        display: block;
        width: 28%;
        max-width: 358px;
        margin: auto;
      }
    }
    .txt {
      text-align: left;
      font-size: 24px;
      line-height: 1.8;
      margin-bottom: 20px;
      &.line {
        border-bottom: 1px solid;
      }
    }
    .lead {
      text-align: left;
      font-size: 16px;
      line-height: 1.8;
      margin-bottom: 50px;
    }
    .img00 {
      padding-bottom: 50px;
    }
    .img-txt {
      margin-bottom: 100px;
    }
    .list {
      li {
        display: inline-block;
        vertical-align: top;
        width: 23%;
        margin-right: 2%;
      }
      li:last-child {
        margin-right: auto;
      }
      .name {
        text-align: left;
        font-size: 16px;
        margin-top: 10px;
      }
    }
  } //landscape

  @media screen and (max-width: 1300px) {
  }
  @media screen and (max-width: 1024px) {
  }
  @media screen and (max-width: 768px) {
    sp {
      display: block;
    }
    pc {
      display: none;
    }

    .intro {
      text-align: center;
      padding: 0 0 0;
      margin-bottom: 60px;
      .tit {
        font-size: 28px;
        width: 80%;
      }
      .txt01 {
        font-size: 22px;
        letter-spacing: 0;
      }
      .txt02 {
        text-align: left;
        font-size: 20px;
        line-height: 1.8;
        margin-bottom: 20px;
      }
      .lead {
        text-align: left;
        font-size: 16px;
        line-height: 1.8;
      }
      .tab-inner {
        margin-bottom: 50px;
      }
      .thumbnail-img {
        width: 100% !important;
        margin: 20px 5px 0;
      }
    } //intro
    .landscape {
      text-align: center;
      margin: 0 auto 50px;
      .tit {
        margin-bottom: 30px;
        span{
          width: 60%;
        }
      }
      .txt {
        font-size: 20px;
      }
      .lead {
        font-size: 16px;
        margin-bottom: 50px;
      }
      .img00 {
        padding-bottom: 30px;
      }
      .img-txt {
        margin-bottom: 50px;
      }
      .list {
        li {
          display: inline-block;
          vertical-align: top;
          width: 48%;
          margin-right: 2%;
          margin-bottom: 20px;
        }
        li:nth-child(2n) {
          margin-right: auto;
        }
      }
    } //landscape

    @media screen and (max-width: 768px) {
      .swipe-img {
        overflow-x: scroll;
        -webkit-overflow-scrolling: touch;
      }
      .swipe-img img {
        max-width: auto !important;
        max-width: inherit !important;
        width: 200% !important;
      }
      .swipe {
        display: block;
        text-align: center;
        padding: 0 0 20px;
      }
      .swipe img {
        max-width: 75px;
        width: 15%;
        height: auto;
        margin: auto;
        pointer-events: none;
      }
    }
  } //sp
  @media screen and (max-width: 550px) {
  }
  @media screen and (max-width: 480px) {
  }
  @media screen and (max-width: 420px) {
  }
  @media screen and (max-width: 360px) {
  }
}
