@charset "utf-8";
/* 
  css設定 @charsetが消されるsass仕様へのハック用コメントです。削除しないでください。新規作成時も必須！
 */
@import "inc/mixin.scss";
@import "inc/functions.scss";
@import "inc/param.scss";

.breadcrumb {
  padding: 20px 2%;
  border-top: 1px solid #f1e9dc;
  border-bottom: 1px solid #f1e9dc;
  background: #fff;
  color: #000;
}
.breadcrumb ul {
  display: flex;
  flex-wrap: wrap;
  font-size: 1.4rem;
  font-weight: 300;
  letter-spacing: 0.02em;
  color: #888;
}
.breadcrumb ul li a {
  color: #000;
}
.breadcrumb ul li:not(:last-child) a::after,
.breadcrumb ul li:not(:last-child) p::after {
  content: " ＞ ";
  display: inline-block;
}
.annotation-area {
  background: #fff;
  color: #797979;
  padding: 40px 0;
}
.page-annotation {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 10px;
  line-height: 1.8;
}
.wrap {
  margin: 0 auto;
  width: 84%;
  max-width: 1200px;
}

.location01 {
  main img {
    max-width: 100%;
  }
  .image {
    position: relative;
    .annotation {
      position: absolute;
      bottom: 10px;
      right: 10px;
      text-align: right;
      font-size: 10px;
      &.white {
        color: #fff;
        text-shadow: 0px 0px 4px #000, 0px 0px 4px #000, 0px 0px 4px #000,
          0px 0px 4px #000;
      }
    }
  }
  .location-link {
    color: #000;
  }
  main {
    color: #000;
    font-family: "RyuminPro", serif;
    line-height: 1;
  }
  sup {
    vertical-align: text-top;
  }
  .page-annotation {
    font-family: "Noto Sans JP", sans-serif;
  }

  .main-visual {
    position: relative;
    display: inline-block;
    padding-bottom: 300px;
    border: none;
    .image {
      position: relative;
      display: inline-block;
      &::after {
        content: "";
        position: absolute;
        bottom: -217px;
        left: 0;
        right: 0;
        width: 1px;
        height: 220px;
        margin: auto;
        background-color: #000;
      }
    }
  }
  .sections {
    .inner {
      margin: 0 auto;
      width: 84%;
      max-width: 1200px;
    }
    .image {
      position: relative;
    }
    .annotation {
      font-size: 10px;
      text-align: right;
    }
    .column02 {
      li {
        vertical-align: top;
        display: inline-block;
        width: 48%;
        margin-right: 2%;
      }
      li:nth-child(2n),
      li:last-child {
        margin-right: auto;
      }
    } //column02
    .column03 {
      li {
        vertical-align: top;
        display: inline-block;
        width: 32%;
        margin-right: 1%;
      }
      li:nth-child(3n),
      li:last-child {
        margin-right: auto;
      }
    } //column03
  } //sections
  .intro {
    text-align: center;
    margin-bottom: 60px;
    .tit {
      font-size: 36px;
      line-height: 2;
      margin-bottom: 80px;
    }
    .lead {
      text-align: left;
      font-size: 18px;
      line-height: 1.8;
      margin-bottom: 50px;
    }
    .img01 {
      margin-bottom: 30px;
      .annotation {
        bottom: -10px;
      }
    }
    .mini {
      text-align: left;
      font-size: 10px;
      line-height: 1.4;
    }
  } //intro
  .areas {
    margin-bottom: 120px;
    .caps {
      text-align: right;
      margin-top: 10px;
      font-size: 10px;
      line-height: 1.6;
      &.bottom {
        margin-bottom: 80px;
      }
    }
    .text {
      font-size: 27px;
      line-height: 1.6;
      margin-bottom: 40px;
    }
    .lead {
      font-size: 18px;
      line-height: 1.8;
      margin-bottom: 80px;
    }
    .box {
      background: #ddf0f3;
      padding: 20px;
      box-sizing: border-box;
      margin-bottom: 40px;
    }
    .name {
      text-align: center;
      font-size: 24px;
      line-height: 1.6;
      padding-bottom: 10px;
      margin-bottom: 20px;
      border-bottom: 0.5px solid #231815;
      span {
        font-size: 18px;
      }
    }
    .info {
      font-size: 18px;
      line-height: 1.8;
      margin-bottom: 20px;
    }
  } //areas
  .area01 {
    .column02.bottom {
      margin-bottom: 20px;
    }
    .txt01 {
      font-size: 18px;
      margin: 10px 0;
    }
    .txt02 {
      font-size: 14px;
      line-height: 1.6;
    }
    .box02 {
      .column02 {
        li {
          vertical-align: middle;
        }
      }
    }
  } //area01
  .area02 {
    .column02 {
      .name {
        text-align: left;
      }
      li {
        width: 60%;
        vertical-align: bottom;
      }
      li:last-child {
        width: 37%;
      }
    }
    .column02.imgs {
      li {
        width: 48%;
      }
      li:last-child {
        width: 48%;
      }
    }
  } //area02
  .area03 {
    .column02 {
      .txt {
        height: 80px;
        margin-top: 20px;
        display: inline-flex;
      }
    }
    .box {
      margin-top: 40px;
      .column02 {
        .name {
          text-align: left;
        }
        .info {
          margin-bottom: 140px;
        }
        .mini {
          font-size: 10px;
          line-height: 1.4;
        }
      }
    }
  } //area03
  .area04 {
    .other {
      .tit01 {
        font-size: 20px;
        padding-bottom: 10px;
        margin-bottom: 10px;
        border-bottom: 0.5px solid #231815;
      }
      .others li{
        width: 100%;
        &.tb{
          display: none;
        }
      }
    }
    .column03 {
      .txt {
        background: #ddf0f3;
        padding: 10px;
        box-sizing: border-box;
        margin-top: 10px;
        .info {
          margin-bottom: 0;
          word-break: break-all;
        }
      }
    }
    .mini {
      font-size: 10px;
      line-height: 1.6;
      margin-top: 10px;
    }
  } //area04

  @media screen and (max-width: 1300px) {
  }
  @media screen and (max-width: 1024px) {
  } //tb
  @media screen and (max-width: 768px) {
    sp {
      display: block;
    }
    pc {
      display: none;
    }

    .main-visual {
      padding-bottom: 100px;
      .image {
        &::after {
          bottom: -60px;
          height: 60px;
        }
      }
    }
    .sections {
      .column02 {
        li {
          display: block;
          width: 100%;
          margin-bottom: 20px;
        }
        li:last-child {
          margin-bottom: auto;
        }
      } //column02
      .column03 {
        li {
          display: inline-block;
          width: 48%;
          margin-bottom: 20px;
          margin-right: 1%;
          .annotation{
            bottom: -15px;
          }
        }
        li:last-child {
          margin-bottom: auto;
          margin-right: auto;
        }
        .txt{
          margin-top: 25px;
          .info{
            font-size: 14px;
            line-height: 1.6;
          }
        }
      } //column03
    } //sections
    .intro {
      text-align: left;
      .tit {
        font-size: 22px;
        margin-bottom: 20px;
      }
      .lead {
        text-align: left;
        font-size: 16px;
        line-height: 2;
        margin-bottom: 0;
      }
    } //intro
    .areas {
      margin-bottom: 60px;
      .img00 .annotation{
        top:5px;
      }
      .caps {
        &.bottom {
          text-align: left;
          margin-top: 0;
          margin-bottom: 0;
        }
      }
      .text {
        font-size: 20px;
        line-height: 1.8;
        margin-top: 20px;
        margin-bottom: 20px;
      }
      .lead {
        font-size: 16px;
        line-height: 2;
        margin-bottom: 40px;
      }
      .name {
        font-size: 18px;
        span {
          font-size: 13px;
        }
      }
      .info {
        font-size: 16px;
        line-height: 2;
      }
      .box.box02{
        margin-bottom: 20px;
      }
    } //areas
    .area01 {
      .txt01 {
        font-size: 16px;
        margin: 10px 0;
      }
      .txt02 {
        font-size: 12px;
        line-height: 1.6;
      }
    } //area01
    .area02 {
      .column02 {
        .name {
          text-align: left;
        }
        li {
          width: 100%;
        }
        li:last-child {
          width: 100%;
        }
      }
      .column02.imgs {
        li {
          width: 100%;
          .img01{
            margin-bottom: 20px;
          }
        }
        li:last-child {
          width: 100%;
          display: flex;
        }
      }
      .box{
        margin-bottom: 20px;
      }
    } //area02
    .area03 {
      .column02 {
        .txt {
          height: 48px;
          margin-top: 10px;
        }
      }
      .box {
        margin-top: 20px;
        margin-bottom: 20px;
        .column02 {
          .info {
            margin-bottom: 10px;
          }
        }
      }
    } //area03
    .area04 {
      .lead {
        margin-bottom: 20px;
      }
      .caps.bottom{
        margin-bottom: 40px;
      }
      .column03 li{
        width: 100%;
        .others{
          margin-bottom: 20px;
          li{
            display: inline-block;
            vertical-align: bottom;
          }
        }
        .image{
          width: 60%;
          // float: left;
          margin-right: 2%;
          margin-bottom: 0;
        }
        .txt{
          clear: both;
          margin-top: 0;
        }
        .mini{
          margin-top: 0;
          width: 36%;
          &.tb{
            display: inline-block;
          }
        }
        &:nth-child(2){
          .mini{
            margin-right: 2%;
            margin-bottom: 0;
          }
          .image{
            margin-right: auto;
          }
        }
      }
    } //area04
  } //sp
  @media screen and (max-width: 450px) {
  }
}
