@charset "utf-8";
/* 
  css設定 @charsetが消されるsass仕様へのハック用コメントです。削除しないでください。新規作成時も必須！
 */
@import "inc/mixin.scss";
@import "inc/functions.scss";
@import "inc/param.scss";

.breadcrumb {
  padding: 20px 2%;
  border-top: 1px solid #f1e9dc;
  border-bottom: 1px solid #f1e9dc;
  background: #fff;
  color: #000;
}
.breadcrumb ul {
  display: flex;
  flex-wrap: wrap;
  font-size: 1.4rem;
  font-weight: 300;
  letter-spacing: 0.02em;
  color: #888;
}
.breadcrumb ul li a {
  color: #000;
}
.breadcrumb ul li:not(:last-child) a::after,
.breadcrumb ul li:not(:last-child) p::after {
  content: " ＞ ";
  display: inline-block;
}
.annotation-area {
  background: #fff;
  color: #797979;
  padding: 40px 0;
}
.page-annotation {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 10px;
  line-height: 1.8;
}
.wrap {
  margin: 0 auto;
  width: 84%;
  max-width: 1200px;
}

.location02 {
  main img {
    max-width: 100%;
  }
  .image {
    position: relative;
    .annotation {
      position: absolute;
      bottom: 10px;
      right: 10px;
      text-align: right;
      font-size: 10px;
      &.white {
        color: #fff;
        text-shadow: 0px 0px 4px #000, 0px 0px 4px #000, 0px 0px 4px #000,
          0px 0px 4px #000;
      }
    }
  }
  .location-link {
    color: #000;
  }
  main {
    color: #000;
    font-family: "RyuminPro", serif;
    line-height: 1;
  }
  sup {
    vertical-align: text-top;
  }
  .page-annotation {
    font-family: "Noto Sans JP", sans-serif;
  }

  .main-visual {
    position: relative;
    display: inline-block;
    padding-bottom: 300px;
    border: none;
    .image {
      position: relative;
      display: inline-block;
      &::after {
        content: "";
        position: absolute;
        bottom: -217px;
        left: 0;
        right: 0;
        width: 1px;
        height: 220px;
        margin: auto;
        background-color: #000;
      }
    }
  }
  .sections {
    .inner {
      margin: 0 auto;
      width: 84%;
      max-width: 1200px;
    }
    .image {
      position: relative;
    }
    .annotation {
      font-size: 10px;
      text-align: right;
    }
    .column02 {
      li {
        vertical-align: top;
        display: inline-block;
        width: 48.5%;
        margin-right: 2%;
      }
      li:nth-child(2n),
      li:last-child {
        margin-right: auto;
      }
    } //column02
    .column03 {
      li {
        vertical-align: top;
        display: inline-block;
        width: 32%;
        margin-right: 1%;
      }
      li:nth-child(3n),
      li:last-child {
        margin-right: auto;
      }
    } //column03
  } //sections
  .intro {
    text-align: center;
    margin-bottom: 100px;
    .tit {
      font-size: 36px;
      line-height: 2;
    }
  } //intro
  .areas {
    margin-bottom: 120px;
    .caps {
      text-align: right;
      margin-top: 10px;
      font-size: 10px;
      line-height: 1.6;
    }
    .img00 {
      margin-bottom: 80px;
    }
    .text {
      font-size: 27px;
      line-height: 1.6;
      margin-bottom: 40px;
    }
    .lead {
      font-size: 18px;
      line-height: 1.8;
      margin-bottom: 40px;
    }
    .box {
      background: #ddf0f3;
      padding: 20px;
      box-sizing: border-box;
      margin-bottom: 40px;
    }
  } //areas
  .area01 {
    .column02 .bottom {
      margin-bottom: 25px;
    }
    .txt01 {
      font-size: 24px;
      margin: 20px 0;
      padding-left: 10px;
      border-left: 5px solid #1c2c5a;
    }
    .txt02 {
      font-size: 18px;
      line-height: 1.8;
      margin-bottom: 10px;
      .bottom {
        margin-bottom: 20px;
      }
    }
    .mini {
      font-size: 10px;
      line-height: 1.4;
    }
    .img04 {
      margin-bottom: 50px;
      .annotation {
        bottom: -15px;
      }
    }
  } //area01
  .area02 {
    .text {
      margin-bottom: 20px;
    }
    .img01 {
      margin-bottom: 40px;
    }
    .txt01 {
      font-size: 24px;
      margin: 20px 0;
      padding-left: 10px;
      border-left: 5px solid #1c2c5a;
      span {
        font-size: 16px;
      }
    }
    .txt02 {
      font-size: 18px;
      line-height: 1.8;
      margin-bottom: 20px;
    }
    .column02 {
      margin-bottom: 20px;
    }
  } //area02
  .area03 {
    .line {
      font-size: 24px;
      line-height: 1.4;
      color: #fff;
      padding-left: 20px;
      box-sizing: border-box;
      background: #1c2c5a;
      margin-bottom: 20px;
      span {
        font-size: 40px;
      }
    }
    .line02 {
      padding: 6px 0 6px 20px;
    }
    .column03 {
      margin-bottom: 60px;
      .txt {
        margin-top: 20px;
        &.mt {
          margin-top: 8.5%;
        }
      }
    }
    .name {
      font-size: 17px;
      margin-top: 6px;
    }
  } //area03
  .area04 {
    background: #ddf0f3;
    padding-bottom: 100px;
    margin-bottom: 0;
    .point {
      position: relative;
      display: inline-block;
      font-size: 40px;
      padding-top: 120px;
      margin-bottom: 80px;
      &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        width: 1px;
        height: 104px;
        margin: auto;
        background-color: #000;
      }
    }
    .tit {
      font-size: 27px;
      line-height: 1.8;
      padding-bottom: 10px;
      margin-bottom: 20px;
      border-bottom: 0.5px solid #000;
    }
    .annotation {
      bottom: -20px;
    }
    .list02 .annotation,
    .list03 .annotation {
      bottom: -26px;
    }
    .tit-img {
      margin-top: 70px;
      margin-bottom: 20px;
    }
    .column02 {
      li {
        vertical-align: middle;
        display: inline-block;
        width: 50%;
        margin-right: 8%;
        .lead {
          font-size: 16px;
          margin-bottom: 0;
        }
      }
      li:nth-child(2n),
      li:last-child {
        width: 40%;
        margin-right: auto;
      }
      &.list02 li {
        width: 50%;
        margin-right: 3%;
        &:last-child {
          width: 45%;
          margin-right: auto;
        }
      }
      &.list03 li {
        width: 50%;
        margin-right: 3%;
        &:last-child {
          width: 45%;
          margin-right: auto;
        }
      }
    } //column02
  } //area04

  @media screen and (max-width: 1300px) {
  }
  @media screen and (max-width: 1024px) {
  } //tb
  @media screen and (max-width: 768px) {
    sp {
      display: block;
    }
    pc {
      display: none;
    }

    .main-visual {
      padding-bottom: 100px;
      .image {
        &::after {
          bottom: -60px;
          height: 60px;
        }
      }
    }
    .sections {
      .column02 {
        li {
          display: block;
          width: 100%;
          margin-bottom: 20px;
        }
        li:last-child {
          margin-bottom: auto;
        }
      } //column02
      .column03 {
        li {
          display: block;
          width: 100%;
          margin-bottom: 20px;
        }
        li:last-child {
          margin-bottom: auto;
        }
      } //column03
    } //sections
    .intro {
      text-align: left;
      margin-bottom: 40px;
      .tit {
        font-size: 22px;
      }
    } //intro
    .areas {
      margin-bottom: 60px;
      .img00 {
        margin-bottom: 30px;
        .annotation {
          bottom: -15px;
        }
      }
      .text {
        font-size: 20px;
        line-height: 1.8;
        margin-bottom: 20px;
      }
      .lead {
        font-size: 16px;
        line-height: 2;
        margin-bottom: 20px;
      }
    } //areas
    .area01 {
      .column02 .bottom {
        margin-bottom: 20px;
      }
      .txt01 {
        font-size: 20px;
        line-height: 1.5;
      }
    } //area01
    .area02 {
      .img01 {
        margin-bottom: 20px;
      }
      .column02 {
        margin-bottom: 0;
        li {
          margin-bottom: 0;
        }
      }
      .txt01 {
        font-size: 20px;
        margin: 10px 0 40px;
        span {
          font-size: 14px;
        }
        &.mb20 {
          margin-bottom: 10px;
        }
      }
      .txt02 {
        font-size: 16px;
        line-height: 2;
      }
    } //area02
    .area03 {
      .line {
        font-size: 14px;
        padding: 10px;
        margin-bottom: 10px;
        span {
          font-size: 22px;
        }
      }
      .line02 {
        padding: 10px;
      }
      .column03 {
        margin-bottom: 40px;
        .txt {
          margin-top: 10px;
          &.mt {
            margin-top: 20px;
          }
        }
      }
      .name {
        font-size: 16px;
      }
    } //area03
    .area04 {
      padding-bottom: 60px;
      margin-bottom: 0;
      .point {
        font-size: 30px;
        padding-top: 60px;
        margin-bottom: 20px;
        &:before {
          height: 50px;
        }
      }
      .tit {
        font-size: 20px;
      }
      .column02 {
        li {
          display: block;
          width: 100%;
          margin-bottom: 20px;
        }
        li:last-child {
          width: 100%;
        }
        &.list02 li,
        &.list03 li {
          width: 100%;
          &:last-child {
            width: 100%;
          }
        }
      } //column02
      .list02 {
        li:last-child {
          margin-top: 50px;
        }
        .annotation {
          line-height: 1.2;
          bottom: -30px;
        }
      }
      .list03 {
        .annotation {
          line-height: 1.2;
          bottom: -30px;
        }
      }
    } //area04
  } //sp
  @media screen and (max-width: 450px) {
  }
}
