@charset "utf-8";
/* 
  css設定 @charsetが消されるsass仕様へのハック用コメントです。削除しないでください。新規作成時も必須！
 */
@import "inc/mixin.scss";
@import "inc/functions.scss";
@import "inc/param.scss";

.breadcrumb {
  padding: 20px 2%;
  border-top: 1px solid #f1e9dc;
  border-bottom: 1px solid #f1e9dc;
  background: #fff;
  color: #000;
}
.breadcrumb ul {
  display: flex;
  flex-wrap: wrap;
  font-size: 1.4rem;
  font-weight: 300;
  letter-spacing: 0.02em;
  color: #888;
}
.breadcrumb ul li a {
  color: #000;
}
.breadcrumb ul li:not(:last-child) a::after,
.breadcrumb ul li:not(:last-child) p::after {
  content: " ＞ ";
  display: inline-block;
}
.annotation-area {
  background: #fff;
  color: #797979;
  padding: 40px 0;
}
.page-annotation {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 10px;
  line-height: 1.8;
}
.wrap {
  margin: 0 auto;
  width: 84%;
  max-width: 1200px;
}

.location01 {
  main img {
    max-width: 100%;
  }
  .image {
    position: relative;
    .annotation {
      position: absolute;
      bottom: 10px;
      right: 10px;
      text-align: right;
      font-size: 10px;
      &.white {
        color: #fff;
        text-shadow: 0px 0px 4px #000, 0px 0px 4px #000, 0px 0px 4px #000,
          0px 0px 4px #000;
      }
    }
  }
  .location-link {
    color: #000;
  }
  main {
    color: #000;
    font-family: "RyuminPro", serif;
    line-height: 1;
  }
  sup {
    vertical-align: text-top;
  }
  .page-annotation {
    font-family: "Noto Sans JP", sans-serif;
  }

  .main-visual {
    position: relative;
    display: inline-block;
    padding-bottom: 300px;
    border: none;
    .image {
      position: relative;
      display: inline-block;
      &::after {
        content: "";
        position: absolute;
        bottom: -217px;
        left: 0;
        right: 0;
        width: 1px;
        height: 220px;
        margin: auto;
        background-color: #000;
      }
    }
  }
  .sections {
    .inner {
      margin: 0 auto;
      width: 84%;
      max-width: 1200px;
    }
    .image {
      position: relative;
    }
    .annotation {
      font-size: 10px;
      text-align: right;
    }
    .column02 {
      li {
        vertical-align: top;
        display: inline-block;
        width: 48%;
        margin-right: 2%;
      }
      li:nth-child(2n),
      li:last-child {
        margin-right: auto;
      }
    } //column02
    .column03 {
      li {
        vertical-align: top;
        display: inline-block;
        width: 32%;
        margin-right: 1%;
      }
      li:nth-child(3n),
      li:last-child {
        margin-right: auto;
      }
    } //column03
  } //sections
  .intro {
    text-align: center;
    margin-bottom: 60px;
    .tit {
      font-size: 30px;
      line-height: 2;
      margin-bottom: 80px;
    }
    .lead {
      text-align: left;
      font-size: 18px;
      line-height: 1.8;
      margin-bottom: 50px;
    }
    .img01 {
      margin-bottom: 30px;
      .annotation {
        bottom: -10px;
      }
    }
    .mini {
      text-align: left;
      font-size: 12px;
      line-height: 1.4;
    }
  } //intro
  .areas {
    margin-bottom: 120px;
    .caps {
      text-align: right;
      margin-top: 10px;
      font-size: 12px;
      line-height: 1.6;
      &.bottom {
        margin-bottom: 80px;
      }
    }
    .text {
      font-size: 24px;
      line-height: 1.6;
      margin-bottom: 40px;
    }
    .lead {
      font-size: 18px;
      line-height: 1.8;
      margin-bottom: 40px;
    }
    .box {
      background: #ddf0f3;
      padding: 20px;
      box-sizing: border-box;
      margin-bottom: 40px;
    }
    .name {
      text-align: center;
      font-size: 30px;
      line-height: 1.6;
      padding-bottom: 10px;
      margin-bottom: 20px;
      border-bottom: 0.5px solid #231815;
      span {
        font-size: 18px;
      }
    }
    .info {
      font-size: 18px;
      line-height: 1.8;
      margin-bottom: 20px;
    }
  } //areas
  .area01 {
    .column02.bottom {
      margin-bottom: 20px;
    }
    .txt01 {
      font-size: 18px;
      margin: 10px 0;
    }
    .txt02 {
      font-size: 14px;
      line-height: 1.6;
    }
    .box02 {
      .column02 {
        li {
          vertical-align: middle;
        }
      }
    }
  } //area01
  .area02 {
    .column02 {
      .name {
        text-align: left;
      }
      li {
        width: 60%;
        vertical-align: bottom;
      }
      li:last-child {
        width: 37%;
      }
    }
    .column02.imgs {
      li {
        width: 48%;
      }
      li:last-child {
        width: 48%;
      }
    }
  } //area02
  .area03 {
    .column02 {
      .txt {
        height: 80px;
        margin-top: 20px;
        display: inline-flex;
      }
    }
    .box {
      margin-top: 40px;
      .column02 {
        .name {
          text-align: left;
        }
        .info {
          margin-bottom: 140px;
        }
        .mini {
          font-size: 12px;
          line-height: 1.4;
        }
      }
    }
  } //area03
  .area04 {
    .other {
      .tit01 {
        font-size: 20px;
        padding-bottom: 10px;
        margin-bottom: 10px;
        border-bottom: 0.5px solid #231815;
      }
    }
    .column03 {
      .txt {
        background: #ddf0f3;
        padding: 10px;
        box-sizing: border-box;
        .info {
          margin-bottom: 0;
          word-break: break-all;
        }
      }
    }
    .mini {
      font-size: 12px;
      line-height: 1.6;
      margin-top: 10px;
    }
  } //area04

  @media screen and (max-width: 1300px) {
  }
  @media screen and (max-width: 1024px) {
  } //tb
  @media screen and (max-width: 768px) {
    sp {
      display: block;
    }
    pc {
      display: none;
    }

    .main-visual {
      .annotation {
        bottom: 40px;
      }
    }
    .intro {
      padding: 60px 0 0;
      margin-bottom: 60px;
      .lead {
        font-size: 22px;
        margin-bottom: 20px;
      }
      .text {
        font-size: 16px;
        margin-bottom: 60px;
      }
      .img01 {
        margin-bottom: 60px;
      }
      .annotation.wh {
        color: #fff;
      }
    } //intro
    .areas {
      margin-bottom: 60px;
      .text {
        font-size: 22px;
        line-height: 1.6;
        margin: 20px 0;
      }
      .lead {
        margin-bottom: 40px;
        font-size: 16px;
        &.sp {
          margin-top: 40px;
        }
      }
      .list01 {
        margin: 30px auto 60px;
        li {
          display: block;
          width: 100%;
          margin-bottom: 20px;
        }
        li:last-child {
          margin-bottom: auto;
        }
      } //list01
      .img-tit {
        font-size: 16px;
      }
      #wrap {
        min-width: inherit;
        position: relative;
        width: 96%;
        height: 40vw;
        max-width: 1280px;
        overflow: hidden;
        margin: 0 auto;
        .box {
          // position: absolute;
          // top:0;
          overflow-x: scroll;
          overflow-y: hidden;
          img {
            max-width: 480px;
            display: block;
            margin: auto;
          }
        }
        .scrollimage_leftbox,
        .scrollimage_rightbox {
          position: absolute;
          opacity: 0.2;
          top: 50%;
          width: 7vw;
          cursor: pointer;
          z-index: 6;
          transform: translateY(-50%);
        }
        .scrollimage_leftbox {
          left: -1vw;
        }
        .scrollimage_rightbox {
          right: -1vw;
        }
      }
      #scrollimagebox .scrollimage_caption {
        width: 15%;
        max-width: 75px;
        height: auto;
        margin: 10px auto 20px;
        pointer-events: none;
      }
      .images {
        position: relative;
        .leaflet-overlay-pane,
        .leaflet-popup-pane {
          position: absolute;
          top: 0;
        }
        .leaflet-container img.leaflet-image-layer {
          transform: translate3d(0px, 0px, 0px) !important;
        }
        .leaflet-left {
          top: 0;
        }
        .viewport {
          height: 140% !important;
        }
      }
      .list02 {
        margin: 0 0 40px;
        li {
          display: block;
          width: 100%;
          margin-bottom: 20px;
        }
        li:nth-child(2),
        li:last-child {
          width: 100%;
          margin-right: auto;
        }
        .lead {
          margin-bottom: 0;
        }
      } //list02
      .list03 {
        li {
          display: block;
          width: 100%;
          margin-bottom: 30px;
        }
        li:last-child {
          margin-bottom: auto;
        }
      } //list03
    } //areas
    .area02 {
      .back-tit {
        font-size: 20px;
        line-height: 1.4;
        margin: 60px 0 20px;
      }
      .list03 {
        .name {
          font-size: 16px;
          margin-top: 10px;
        }
        .mini {
          margin-top: 20px;
        }
      } //list03
    } //area02
    .area03 {
      .image.top {
        margin: 40px auto;
      }
      .list04 {
        margin-bottom: 40px;
        li {
          display: block;
          width: 100%;
          margin-bottom: 20px;
        }
        li:last-child {
          margin-bottom: auto;
        }
      }
      .mini.bottom {
        margin-bottom: 80px;
      }
      .list03 {
        .name {
          margin: 10px 0;
        }
      }
      .bg {
        margin: 40px auto 10px;
        padding-bottom: 20px;
        .list05 {
          li {
            display: block;
            width: 100%;
          }
        } //list05
        .shops {
          padding: 10px 10px 0;
          box-sizing: border-box;
          .shop {
            font-size: 12px;
            padding-left: 5px;
          }
        } //shops
        li:last-child .shops {
          padding: 0 10px;
        }
      } //bg
    } //area03
    .area04 {
      padding-top: 60px;
      margin-bottom: 0;
      .lead {
        margin-top: 40px;
      }
      .list06 {
        margin: 40px auto;
        li {
          display: block;
          width: 100%;
          margin-bottom: 20px;
        }
        li:last-child {
          width: 100%;
          margin-bottom: 20px;
          .lead {
            margin-bottom: 20px;
          }
          // .image{
          //   display: none;
          // }
        }
      } //list06
      .list07 {
        border: 1px solid #bba579;
        padding: 20px 10px;
        li {
          display: block;
          width: 100%;
          margin-bottom: 20px;
        }
        li:last-child {
          margin-bottom: auto;
        }
        .text {
          font-size: 16px;
          margin: 0 auto 20px;
        }
        s .lead {
          margin-bottom: 20px;
        }
      } //list07
    } //area04
  } //sp
  @media screen and (max-width: 450px) {
    .areas #wrap {
      height: 55vw;
    }
    .areas #scrollimagebox .scrollimage_caption {
      width: 15%;
      margin: 20px auto;
    }
  }
}
