@charset "utf-8";

/************* MV *************/
.top-mv .container {
    margin: 0 auto 15px auto;
}

.mv-access {
    letter-spacing: .05em;
    background-color: #f1e9dc;
	font-family: "RyuminPro", "GaramondPro", serif;
	font-weight: normal;
}

.mv-access__main {
    padding: 15px 0;
    font-size: 2.4rem;
    border-bottom: 1px solid #d1c7b6;
}

.mv-access__main span {
    font-size: 150%;
}

.mv-access__list {
    padding: 15px 0 30px;
}

.mv-access__list p {
    width: 33.33%;
    font-size: 2rem;
	font-family: "RyuminPro", "GaramondPro", serif;
}

.mv-access__list p span {
    font-size: 120%;
}

.mv-access__list p+p {
    border-left: 1px solid #d1c7b6;
}

@media screen and (max-width: 1400px) {
    .mv-access__main {
        font-size: 1.8vw;
    }
    .mv-access__list p {
        font-size: 1.5vw;
    }
}

@media screen and (max-width: 639px) {
    .mv-access__main {
        font-size: 4.16vw;
    }
    .mv-access__list p {
        width: 100%;
        font-size: 4vw;
    }
    .mv-access__list p+p {
        margin-top: 15px;
        padding-top: 15px;
        border-left: none;
        border-top: 1px solid #d1c7b6;
    }

    /* SP用 MVスライド */
    .top-mv{
        background:#F1E9DC;
    }

    .top-mv__slide .slick-dots li {
        width: 10px;
        height: 10px;
        display: none;
    }

    .top-mv__slide .slick-dots li button {
        width: 100%;
        height: 100%;
        padding: 0;
        border-radius: 50%;
        background-color: #707070;
    }

    .top-mv__slide .slick-dots li.slick-active button {
        background-color: rgba(80, 50, 30, 1);
    }

    .top-mv__slide .slick-dots li button:before {
        display: none;
    }

}


/************* バナースライド *************/

.top-banner {
    padding-top: 50px;
}

.banner-slide {
    margin: 27px -10px 0;
}

.banner-slide .slick-slide {
    margin: 0 14px;
    border: 1px solid #d1c7b6;
    background:#DDD;
}

.banner-slide .slick-slide figure{
        width: 100%;
        height: 100%;
}

.banner-slide .slick-prev {
    left: -50px;
}

.banner-slide .slick-next {
    right: -50px;
}

@media screen and (max-width: 1400px) {
    .banner-slide {
        margin: 27px 25px 0;
    }
    .banner-slide .slick-prev {
        left: -25px;
    }
    .banner-slide .slick-next {
        right: -25px;
    }
}

@media screen and (max-width: 639px) {
    .banner-slide .slick-dots li {
        width: 10px;
        height: 10px;
    }

    .banner-slide .slick-dots li button {
        width: 100%;
        height: 100%;
        padding: 0;
        border-radius: 50%;
        background-color: #707070;
    }

    .banner-slide .slick-dots li.slick-active button {
        background-color: rgba(80, 50, 30, 1);
    }

    .banner-slide .slick-dots li button:before {
        display: none;
    }


    .banner-slide .slick-slide {
        margin: 0;
    }    
    .banner-slide .slick-prev {
        left: -30px;
    }
    .banner-slide .slick-next {
        right: -30px;
    }
    .slick-slide img{
        margin: auto;
    }
}


/************* INFORMATION *************/

.top-sec-ttl {
    margin-bottom: 1em;
    text-align: center;
    font-size: 3.6rem;
    font-family: 'GaramondPro';
    letter-spacing: .4em;
}

.information-box {
    padding: 30px 0;
    border-top: 1px solid #d1c7b6;
    border-bottom: 1px solid #d1c7b6;
}

.information-box-wrapper {
    max-height: 500px;
    padding: 0 ;
    overflow-y: scroll;
}

.information-box-wrapper::-webkit-scrollbar {
    width: 10px;
}

.information-box-wrapper::-webkit-scrollbar-track {
    background-color: #e8e8e8;
}

.information-box-wrapper::-webkit-scrollbar-thumb {
    background-color: #b8a243;
}

@media screen and (max-width: 639px) {
    .top-sec-ttl {
        font-size: 7vw;
    }
}


/************* CONTENTS *************/

.contents-link {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.contents-link a {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(50% - 10px);
    height: 400px;
    margin-top: 20px;
}

.contents-link a::before {
    content: '';
    position: absolute;
    left: 100px;
    right: 100px;
    top: 100px;
    bottom: 100px;
    background-color: rgba(255, 255, 255, .8);
    z-index: 1;
}

.contents-link a figure {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.contents-link a figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.contents-link div.ComingSoon{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(50% - 10px);
    margin-top: 20px;
    background: #cdcdcd;
}

.contents-link__ttl {
    position: relative;
    text-align: center;
    z-index: 2;
}

.contents-link__ttl .f-en {
    font-size: 4.8rem;
    color: #615239;
}

.contents-link__ttl h3 {
    position: relative;
    width: 156px;
    margin: 0 auto;
    font-size: 1.8rem;
    font-weight: 300;
    letter-spacing: .13em;
    color: #272624;
}

.contents-link__ttl h3::before {
    content: '';
    position: absolute;
    left: 0;
    top: calc(50% - 4px);
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 0 5px 10px;
    border-color: transparent transparent transparent #000000;
}

@media screen and (max-width: 1310px) {
    .contents-link a {
        height: 30.5vw;
    }
    .contents-link a::before {
        left: 15%;
        right: 15%;
        top: 25%;
        bottom: 25%;
    }
    .contents-link__ttl .f-en {
        font-size: 3.5vw;
    }
}

@media screen and (max-width: 639px) {
	#contents-sec .container{
		width:90%;
	}

    .contents-link div.ComingSoon,
    .contents-link a {
        width: 100%;
        height: 59.7vw;
    }
    .contents-link__ttl .f-en {
        font-size: 5.5vw;
    }
	.contents-link__ttl h3{
        font-size: 1.2rem;
	}
}