@charset "UTF-8";
/* 
  css設定 @charsetが消されるsass仕様へのハック用コメントです。削除しないでください。新規作成時も必須！
 */
#adtag {
  opacity: 0;
}

.breadcrumb {
  padding: 20px 2%;
  border-top: 1px solid #f1e9dc;
  border-bottom: 1px solid #f1e9dc;
  background: #fff;
  color: #000;
}

.breadcrumb ul {
  display: flex;
  flex-wrap: wrap;
  font-size: 1.4rem;
  font-weight: 300;
  letter-spacing: 0.02em;
  color: #888;
}

.breadcrumb ul li a {
  color: #000;
}

.breadcrumb ul li:not(:last-child) a::after,
.breadcrumb ul li:not(:last-child) p::after {
  content: " ＞ ";
  display: inline-block;
}

.annotation-area {
  background: #fff;
  color: #797979;
  padding: 40px 0;
}

.page-annotation {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 10px;
  line-height: 1.8;
}

.wrap {
  margin: 0 auto;
  width: 84%;
  max-width: 1200px;
}

#design main img {
  max-width: 100%;
}
#design .image {
  position: relative;
}
#design .image .annotation {
  position: absolute;
  bottom: 10px;
  right: 10px;
  text-align: right;
  font-size: 10px;
}
#design .image .annotation.white {
  color: #fff;
  text-shadow: 0px 0px 4px #000, 0px 0px 4px #000, 0px 0px 4px #000, 0px 0px 4px #000;
}
#design main {
  color: #fff;
  background: #000;
  font-family: "RyuminPro", serif;
  line-height: 1;
}
#design sp {
  display: none;
}
#design pc {
  display: block;
}
#design .page-annotation {
  font-family: "Noto Sans JP", sans-serif;
}
#design .main-visual {
  position: relative;
  display: inline-block;
  padding-bottom: 50px;
  border: none;
}
#design .main-visual .image {
  display: none;
  position: relative;
}
#design .main-visual .image::after {
  content: "";
  position: absolute;
  bottom: -217px;
  left: 0;
  right: 0;
  width: 1px;
  height: 220px;
  margin: auto;
  background-color: #000;
}
#design .sections .inner {
  margin: 0 auto;
  width: 84%;
  max-width: 1200px;
}
#design .sections .image {
  position: relative;
}
#design .sections .annotation {
  position: absolute;
  bottom: 10px;
  right: 10px;
  text-align: right;
  font-size: 10px;
}
#design .sections .annotation.white {
  color: #fff;
  text-shadow: 0px 0px 4px #000, 0px 0px 4px #000, 0px 0px 4px #000, 0px 0px 4px #000;
}
#design .intro {
  text-align: center;
  padding: 0 0 0;
  margin-bottom: 100px;
}
#design .intro .tit {
  width: 70%;
  max-width: 762px;
  margin: 0 auto 20px;
}
#design .intro .txt01 {
  font-size: 30px;
  line-height: 1.8;
  letter-spacing: 0.25rem;
  margin-bottom: 40px;
}
#design .intro .txt02 {
  font-size: 36px;
  line-height: 1.8;
  margin-bottom: 40px;
}
#design .intro .lead {
  font-size: 18px;
  line-height: 1.8;
}
#design .intro .tab-inner {
  margin-bottom: 80px;
}
#design .intro .slick-slide {
  position: relative;
}
#design .intro .thumbnail .slick-track {
  transform: unset !important;
}
#design .intro .slick-list,
#design .intro .slick-track {
  justify-content: center;
}
#design .intro .thumbnail-img {
  opacity: 0.3;
  transition: opacity 0.3s linear;
  width: 12% !important;
  margin: 20px 10px 0;
}
#design .intro .thumbnail-img.slick-current {
  opacity: 1;
}
#design .landscape {
  text-align: center;
  margin: 0 auto 120px;
}
#design .landscape .tit {
  font-size: 30px;
  background: #ae9e4b;
  padding: 20px 0 15px;
  color: #000;
  letter-spacing: 0.16em;
  margin-bottom: 50px;
}
#design .landscape .tit span {
  display: block;
  width: 28%;
  max-width: 358px;
  margin: auto;
}
#design .landscape .txt {
  text-align: left;
  font-size: 24px;
  line-height: 1.8;
  margin-bottom: 20px;
}
#design .landscape .txt.line {
  border-bottom: 1px solid;
}
#design .landscape .lead {
  text-align: left;
  font-size: 16px;
  line-height: 1.8;
  margin-bottom: 50px;
}
#design .landscape .img00 {
  padding-bottom: 50px;
}
#design .landscape .img-txt {
  margin-bottom: 100px;
}
#design .landscape .list li {
  display: inline-block;
  vertical-align: top;
  width: 23%;
  margin-right: 2%;
}
#design .landscape .list li:last-child {
  margin-right: auto;
}
#design .landscape .list .name {
  text-align: left;
  font-size: 16px;
  margin-top: 10px;
}
@media screen and (max-width: 768px) {
  #design sp {
    display: block;
  }
  #design pc {
    display: none;
  }
  #design .intro {
    text-align: center;
    padding: 0 0 0;
    margin-bottom: 60px;
  }
  #design .intro .tit {
    font-size: 28px;
    width: 80%;
  }
  #design .intro .txt01 {
    font-size: 22px;
    letter-spacing: 0;
  }
  #design .intro .txt02 {
    text-align: left;
    font-size: 20px;
    line-height: 1.8;
    margin-bottom: 20px;
  }
  #design .intro .lead {
    text-align: left;
    font-size: 16px;
    line-height: 1.8;
  }
  #design .intro .tab-inner {
    margin-bottom: 50px;
  }
  #design .intro .thumbnail-img {
    width: 100% !important;
    margin: 20px 5px 0;
  }
  #design .landscape {
    text-align: center;
    margin: 0 auto 50px;
  }
  #design .landscape .tit {
    margin-bottom: 30px;
  }
  #design .landscape .tit span {
    width: 60%;
  }
  #design .landscape .txt {
    font-size: 20px;
  }
  #design .landscape .lead {
    font-size: 16px;
    margin-bottom: 50px;
  }
  #design .landscape .img00 {
    padding-bottom: 30px;
  }
  #design .landscape .img-txt {
    margin-bottom: 50px;
  }
  #design .landscape .list li {
    display: inline-block;
    vertical-align: top;
    width: 48%;
    margin-right: 2%;
    margin-bottom: 20px;
  }
  #design .landscape .list li:nth-child(2n) {
    margin-right: auto;
  }
}
@media screen and (max-width: 768px) and (max-width: 768px) {
  #design .swipe-img {
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
  }
  #design .swipe-img img {
    max-width: auto !important;
    max-width: inherit !important;
    width: 200% !important;
  }
  #design .swipe {
    display: block;
    text-align: center;
    padding: 0 0 20px;
  }
  #design .swipe img {
    max-width: 75px;
    width: 15%;
    height: auto;
    margin: auto;
    pointer-events: none;
  }
}/*# sourceMappingURL=design.css.map */