@charset "UTF-8";
/* 
  css設定 @charsetが消されるsass仕様へのハック用コメントです。削除しないでください。新規作成時も必須！
 */
.location03 main img {
  max-width: 100%;
}
.location03 .img {
  position: relative;
}
.location03 main {
  font-family: "RyuminPro", serif;
}
.location03 .page-annotation {
  font-family: "Noto Sans JP", sans-serif;
}
.location03 .main-visual {
  position: relative;
  line-height: 0;
  border: none;
}
.location03 .main-visual .page-lead {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 54px;
  width: 90%;
}
.location03 .sections {
  line-height: 1;
}
.location03 .sections .section-img {
  position: relative;
}
.location03 .sections .section-title {
  font-size: 27px;
  padding-top: 155px;
  position: relative;
  color: #afa471;
  letter-spacing: 0.2em;
  margin-bottom: 140px;
}
.location03 .sections .section-title::after {
  content: "";
  display: block;
  width: 45px;
  height: 170px;
  background: url(../images/common/intro.jpg) bottom;
  position: absolute;
  top: 0;
  right: 100%;
  margin-right: 20px;
}
.location03 .sections .inner {
  margin: 0 auto;
  width: 70%;
  max-width: 1030px;
}
.location03 .sections .annotation {
  font-size: 10px;
  text-align: right;
}
.location03 .intro .section-lead {
  text-align: center;
  font-size: 54px;
  padding-bottom: 200px;
  line-height: 1.5;
}
.location03 main {
  padding-bottom: 140px;
}
.location03 .sec-contents .tit {
  font-size: 36px;
  margin-bottom: 30px;
  line-height: 1.6;
  border-left: 15px solid #afa471;
  padding-left: 10px;
}
.location03 .sec-contents .tit span {
  font-size: 27px;
  color: #afa471;
}
.location03 .sec-contents .lead {
  font-size: 24px;
  line-height: 1.8;
}
.location03 .sec-contents .name {
  font-size: 25px;
  line-height: 1.4;
  margin: 20px 0 30px;
  padding-left: 10px;
  border-left: 5px solid;
}
.location03 .sec-contents .name span {
  font-size: 20px;
}
.location03 .map .caps {
  text-align: right;
  font-size: 15px;
}
.location03 .shopping,
.location03 .child {
  margin-bottom: 100px;
}
.location03 .shopping .txt-list,
.location03 .child .txt-list {
  margin-bottom: 20px;
}
.location03 .shopping .txt-list li,
.location03 .child .txt-list li {
  vertical-align: top;
  display: inline-block;
  width: 52%;
  margin-right: 2%;
}
.location03 .shopping .txt-list li:first-child,
.location03 .child .txt-list li:first-child {
  width: 100%;
  margin-right: auto;
}
.location03 .shopping .txt-list li:last-child,
.location03 .child .txt-list li:last-child {
  width: 44%;
  margin-right: auto;
}
.location03 .shopping .lis li,
.location03 .child .lis li {
  vertical-align: top;
  display: inline-block;
  width: 49.6%;
}
.location03 .shopping .lis02 li,
.location03 .shopping .lis03 li,
.location03 .child .lis02 li,
.location03 .child .lis03 li {
  vertical-align: top;
  display: inline-block;
  width: 32.9%;
}
.location03 .life-info .image {
  position: relative;
}
.location03 .life-info .box-tit {
  text-align: center;
  background: #b6aa74;
  font-size: 27px;
  color: #fff;
  padding: 10px 0;
  letter-spacing: 0.3em;
  margin-bottom: 20px;
}
.location03 .life-info .line-txt {
  text-align: center;
  font-size: 27px;
  padding: 20px 0;
  border-top: 1px solid;
  border-bottom: 1px solid;
  margin: 30px auto 20px;
}
.location03 .life-info .annotation {
  font-size: 15px;
  bottom: 2px;
  right: 0;
  left: 0;
  text-align: left;
  background: rgba(0, 0, 0, 0.7);
  color: #fff;
  padding: 5px 8px;
  box-sizing: border-box;
  margin: 0;
}
.location03 .life-info .annotation span {
  background: #dc6c2a;
  border-radius: 5px;
  padding: 2px 5px;
  margin-right: 5px;
}
.location03 .life-info .annotation01 span {
  background: #dcb437;
}
.location03 .life-info .annotation02 span {
  background: #8f6240;
}
.location03 .life-info .annotation03 span {
  background: #2db4ad;
}
.location03 .life-info .annotation04 span {
  background: #1b5394;
}
.location03 .life-info .bg {
  background: #fff;
  padding: 20px;
  box-sizing: border-box;
}
.location03 .life-info .tab-inner {
  display: none;
}
.location03 .life-info .tab-inner.current {
  display: block;
}
.location03 .life-info .change-buttons {
  text-align: center;
  margin: 0 auto 20px;
}
.location03 .life-info .change-buttons li {
  text-align: center;
  float: left;
  width: 19.2%;
  margin-right: 1%;
}
.location03 .life-info .change-buttons li:last-child {
  margin-right: 0;
}
.location03 .life-info .change-buttons .button {
  display: block;
  color: #dc6c2a;
  font-size: 17px;
  background: rgba(89, 87, 88, 0.4);
  border: 4px solid;
}
.location03 .life-info .change-buttons .button.current {
  pointer-events: none;
  background: #fff;
  line-height: 0;
}
.location03 .life-info .change-buttons .button span {
  display: inline-block;
  padding: 16px 0;
  line-height: 1;
}
.location03 .life-info .change-buttons .button02 {
  color: #dcb437;
}
.location03 .life-info .change-buttons .button02 span {
  padding: 8px 0;
}
.location03 .life-info .change-buttons .button03 {
  color: #8f6240;
}
.location03 .life-info .change-buttons .button04 {
  color: #2db4ad;
}
.location03 .life-info .change-buttons .button05 {
  color: #1b5394;
}
.location03 .life-info .change-buttons .button05 span {
  padding: 8px 0;
}
.location03 .life-info .change-buttons .button:hover {
  opacity: 1;
  background: #fff;
  transition: 0.3s;
}
.location03 .life-info .img-list {
  float: left;
  width: 54%;
  margin-right: 1%;
}
.location03 .life-info .img-list .lists li {
  display: inline-block;
  width: 49.4%;
}
.location03 .life-info .info-list {
  background: #f5e4d2;
  padding: 10px;
  box-sizing: border-box;
  float: right;
  width: 45%;
}
.location03 .life-info .info-list .shop {
  text-align: left;
  font-size: 18px;
  border-bottom: 1px solid #b0b0b0;
  padding: 10px;
  margin-bottom: 10px;
  color: #000;
}
.location03 .life-info .info-list .shop p {
  display: inline-block;
  vertical-align: middle;
}
.location03 .life-info .info-list .shop .num {
  background: #dc6c2a;
  border-radius: 5px;
  color: #fff;
  padding: 2px 7px;
  margin-right: 5px;
}
.location03 .life-info .info-list .shop .num01 {
  background: #dcb437;
}
.location03 .life-info .info-list .shop .num02 {
  background: #8f6240;
}
.location03 .life-info .info-list .shop .num03 {
  background: #2db4ad;
}
.location03 .life-info .info-list .shop .num04 {
  background: #1b5394;
}
.location03 .life-info .info-list .shop .name {
  line-height: 1;
}
.location03 .life-info .info-list .shop .name .mid {
  font-size: 14px;
}
.location03 .life-info .info-list .shop .min {
  padding-top: 4px;
  font-size: 13px;
  float: right;
}
.location03 .life-info .info-list .shop .mini {
  display: block;
  font-size: 10px;
  margin-left: 40px;
}
.location03 .life-info .info-list .shop .sp {
  display: none;
}
.location03 .life-info .info-list .shop .pc {
  display: inherit;
}
.location03 .life-info .info-list01 {
  background: #fffde9;
}
.location03 .life-info .info-list02 {
  background: #e8ebe5;
}
.location03 .life-info .info-list03 {
  background: #e4f3ef;
}
.location03 .life-info .info-list04 {
  background: #d5d6df;
}
@media screen and (max-width: 1024px) {
  .location03 .intro .section-lead {
    text-align: left;
    font-size: 30px;
    padding-bottom: 40px;
  }
  .location03 .sec-contents .tit {
    font-size: 20px;
    margin-bottom: 20px;
  }
  .location03 .sec-contents .tit span {
    font-size: 18px;
  }
  .location03 .sec-contents .lead {
    font-size: 17px;
    margin-bottom: 20px;
  }
  .location03 .sec-contents .name {
    font-size: 20px;
    margin: 10px 0 20px;
  }
  .location03 .sec-contents .name span {
    font-size: 16px;
  }
  .location03 .shopping,
  .location03 .child {
    margin-bottom: 60px;
  }
  .location03 .shopping .lis li,
  .location03 .child .lis li {
    width: 49%;
  }
  .location03 .shopping .lis02 li,
  .location03 .shopping .lis03 li,
  .location03 .child .lis02 li,
  .location03 .child .lis03 li {
    width: 32.5%;
  }
  .location03 .life-info .box-tit {
    font-size: 20px;
    letter-spacing: 0.15em;
  }
  .location03 .life-info .line-txt {
    font-size: 17px;
    line-height: 1.4;
  }
  .location03 .life-info .bg {
    padding: 20px 10px;
  }
  .location03 .life-info .change-buttons {
    text-align: center;
    margin: 0 auto 10px;
  }
  .location03 .life-info .change-buttons li {
    float: none;
    width: 100%;
    margin-bottom: 10px;
  }
  .location03 .life-info .change-buttons .button {
    font-size: 18px;
    border: 2px solid;
  }
  .location03 .life-info .change-buttons .button span {
    padding: 10px 0;
  }
  .location03 .life-info .img-list {
    float: none;
    width: 100%;
  }
  .location03 .life-info .img-list .lists li {
    display: block;
    width: 100%;
  }
  .location03 .life-info .img-list img {
    width: 100%;
  }
  .location03 .life-info .info-list {
    float: none;
    width: 100%;
  }
  .location03 .life-info .info-list .info-tit {
    font-size: 14px;
  }
  .location03 .life-info .info-list .shop {
    font-size: 12px;
    border-bottom: 1px solid #b0b0b0;
    padding-bottom: 10px;
    margin-bottom: 10px;
  }
  .location03 .life-info .info-list .shop .num {
    padding: 2px 5px;
  }
  .location03 .life-info .info-list .shop .num06 {
    padding: 0 3px;
  }
  .location03 .life-info .info-list .shop .min {
    font-size: 12px;
  }
  .location03 .life-info .info-list04 {
    float: none;
    width: 100%;
  }
  .location03 .life-info .info-list04 .shop {
    height: auto;
  }
}
@media screen and (max-width: 768px) {
  .location03 .sections .section-title {
    font-size: 20px;
    padding-top: 90px;
    margin-bottom: 60px;
  }
  .location03 .sections .section-title::after {
    width: 40px;
    height: 100px;
    margin-right: 10px;
  }
  .location03 .sections .inner {
    margin: 0 auto;
    width: 70%;
  }
  .location03 .shopping .txt-list li,
  .location03 .child .txt-list li {
    display: block;
    width: 100%;
  }
  .location03 .shopping .txt-list li:last-child,
  .location03 .child .txt-list li:last-child {
    width: 100%;
    margin-top: 10px;
  }
  .location03 .shopping .lis li,
  .location03 .child .lis li {
    display: block;
    width: 100%;
  }
  .location03 .shopping .lis02 li,
  .location03 .shopping .lis03 li,
  .location03 .child .lis02 li,
  .location03 .child .lis03 li {
    width: 100%;
  }
  .location03 .life-info {
    width: 94%;
  }
  .location03 .life-info .bg {
    padding: 10px;
  }
  .location03 .life-info .info-list .shop .min {
    float: none;
  }
  .location03 .life-info .info-list .shop .mini {
    margin-left: 0;
    margin-top: 4px;
  }
  .location03 .life-info .info-list .shop .pc {
    display: none;
  }
  .location03 .life-info .info-list .shop .sp {
    display: inherit;
  }
}/*# sourceMappingURL=location03.css.map */