
$body_fontfamily: YakuHanMP, "times new roman", "游明朝", YuMincho, "Hiragino Mincho ProN", "Hiragino Mincho Pro","HG明朝E", "ＭＳ 明朝", serif;
$breakpoint_pc : 1025px;
$breakpoint_tb : 1024px;
$breakpoint_sp : 768px;
$breakpoint_sp_tb : 769px;
