@charset "UTF-8";

$baseFont: YakuHanMP, 'El Messiri' , 'Noto Serif JP' serif;

$breakpoint_pc : 1025px;
$breakpoint_tb : 1024px;
$breakpoint_sp : 757px;

$imgDir: "../images/";
$imgDirSp: "../images/sp/";

$contentsWidth: 1200px;

$breakPointWide01: 1400px;
$breakPointWide02: 1200px;
$breakPointPc: 1025px;
$breakPointTb: 1024px;
$breakPointTbMin: 768px;
$breakPointSp: 767px;
