@charset "UTF-8";
/* 
  css設定 @charsetが消されるsass仕様へのハック用コメントです。削除しないでください。新規作成時も必須！
 */
.equipment05 main img {
  max-width: 100%;
}
.equipment05 .img {
  position: relative;
}
.equipment05 main {
  font-family: "RyuminPro", serif;
}
.equipment05 .page-annotation {
  font-family: "Noto Sans JP", sans-serif;
}
.equipment05 sup {
  vertical-align: text-top;
  font-size: 70%;
}
.equipment05 .sections {
  line-height: 1;
}
.equipment05 .sections .inner {
  margin: 0 auto;
  width: 70%;
  max-width: 1030px;
}
.equipment05 .sections .image {
  position: relative;
  text-align: center;
  margin-bottom: 20px;
}
.equipment05 .sections .annotation {
  font-size: 12px;
  text-align: right;
}
.equipment05 .sections .annotation.bt {
  bottom: -20px;
}
.equipment05 .sections .annotation.mr-35 {
  margin-right: -35px;
}
.equipment05 .sections .tit {
  font-size: 42px;
  letter-spacing: 0.12em;
  color: #b9a277;
  text-align: center;
  padding: 10px 0 10px 16px;
  margin-bottom: 30px;
  line-height: 1.6;
}
.equipment05 .sections .tit:before, .equipment05 .sections .tit:after {
  content: "";
  display: inline-block;
  width: 30px;
  height: 2px;
  background-color: #b9a277;
  margin-right: 15px;
  vertical-align: middle;
}
.equipment05 .sections .tit:before, .equipment05 .sections .tit:after {
  margin-left: 15px;
}
.equipment05 .sections .tit-img {
  font-size: 22px;
  line-height: 1;
  padding-bottom: 10px;
  border-bottom: 1px solid;
  margin-bottom: 10px;
  font-family: "Noto Sans JP";
}
.equipment05 .sections .tit-img span {
  font-size: 14px;
}
.equipment05 .sections .lead {
  font-size: 17px;
  line-height: 1.6;
  margin-bottom: 10px;
}
.equipment05 .sections .lead span {
  display: block;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 1.6;
  margin-top: 10px;
}
.equipment05 .sections .text {
  font-size: 19px;
  line-height: 1.6;
}
.equipment05 .sections .caps {
  font-size: 12px;
  line-height: 1.2;
}
.equipment05 .sec01 {
  margin-top: 40px;
}
.equipment05 .sec01 .lists li {
  display: inline-block;
  vertical-align: top;
  width: 31%;
  margin-right: 2%;
  margin-bottom: 60px;
}
.equipment05 .sec01 .lists li:last-child {
  margin-right: auto;
}
.equipment05 .sec01 .list02 {
  margin-top: 0;
  margin-bottom: 60px;
}
.equipment05 .sec01 .list02 li {
  vertical-align: bottom;
}
.equipment05 .sec01 .list03 {
  margin-bottom: 60px;
}
.equipment05 .sec02 .lists li {
  display: inline-block;
  vertical-align: top;
  width: 31%;
  margin-right: 2%;
  margin-bottom: 60px;
}
.equipment05 .sec02 .lists li.double {
  width: 66%;
}
.equipment05 .sec02 .lists li.full {
  width: 100%;
}
.equipment05 .sec02 .lists li.mr0 {
  margin-right: auto;
}
.equipment05 .sec02 .lists li.mr100 {
  margin-right: 100px;
}
.equipment05 .sec02 .lists li.mb0 {
  margin-bottom: auto;
}
.equipment05 .sec02 .lists li.pc {
  vertical-align: bottom;
  margin-bottom: 0;
}
.equipment05 .sec02 .lists li:last-child {
  margin-right: auto;
}
.equipment05 .sec02 .list01 .lead-box {
  display: flex;
}
.equipment05 .sec02 .list01 .lead-box .lead {
  width: 50%;
  float: left;
}
.equipment05 .sec02 .list01 .lead-box .image {
  width: 50%;
  margin: auto;
}
.equipment05 .sec02 .list02 .full .lead {
  width: 60%;
  float: left;
}
.equipment05 .sec02 .list02 .full .image {
  width: 38%;
  float: right;
  margin-bottom: 0;
}
.equipment05 .sec02 .list02 .half {
  display: inline-block;
  width: 48%;
  margin-bottom: 10px;
}
.equipment05 .sec02 .list02 .half.pc {
  vertical-align: bottom;
}
.equipment05 .sec02 .list02 .half .image {
  max-width: 300px;
  margin: auto;
}
.equipment05 .sec02 .list02 .half:nth-child(3),
.equipment05 .sec02 .list02 .half :nth-child(5) {
  margin-right: auto;
}
.equipment05 .sec02 .list02 .half .image {
  margin-bottom: 20px;
}
.equipment05 .sec03 .lists li {
  display: inline-block;
  vertical-align: top;
  width: 31%;
  margin-right: 2%;
  margin-bottom: 60px;
}
.equipment05 .sec03 .lists li .image.right {
  width: 48%;
  float: right;
}
.equipment05 .sec03 .lists li .lead.left {
  width: 48%;
  float: left;
  margin-bottom: 10px;
}
.equipment05 .sec03 .lists li.double {
  width: 66%;
}
.equipment05 .sec03 .lists li.full {
  display: block;
  width: 100%;
  margin: auto;
}
.equipment05 .sec03 .lists li:last-child {
  margin: auto;
}
.equipment05 .sec03 .mini {
  text-align: left;
  font-size: 14px;
  line-height: 1.4;
  margin-top: 10px;
}
.equipment05 .sec03 .list01 {
  margin-bottom: 60px;
}
.equipment05 main {
  padding-bottom: 50px;
}
@media screen and (max-width: 1024px) {
  .equipment05 .sections .tit-img {
    font-size: 1.6rem;
  }
}
@media screen and (max-width: 768px) {
  .equipment05 .sections .inner {
    width: 84%;
  }
  .equipment05 .sections .tit {
    font-size: 30px;
    margin-bottom: 30px;
    line-height: 1.4;
  }
  .equipment05 .sections .tit:before, .equipment05 .sections .tit:after {
    content: none;
  }
  .equipment05 .sections .tit-img {
    font-size: 22px;
  }
  .equipment05 .sections .lead {
    margin-bottom: 20px;
  }
  .equipment05 .sections .lead span {
    font-size: 13px;
  }
  .equipment05 .sections .text {
    font-size: 17px;
  }
  .equipment05 .sections .caps {
    font-size: 13px;
  }
  .equipment05 .sec01 {
    margin-top: 40px;
  }
  .equipment05 .sec01 .lists li {
    display: block;
    width: 100%;
    margin-bottom: 40px;
  }
  .equipment05 .sec01 .lists li:last-child {
    width: 100%;
  }
  .equipment05 .sec01 .list03 {
    margin-bottom: 40px;
  }
  .equipment05 .sec02 .lists li {
    display: block;
    width: 100%;
    margin-bottom: 40px !important;
  }
  .equipment05 .sec02 .lists li.double {
    width: 100%;
  }
  .equipment05 .sec02 .lists li.double .image {
    width: 100%;
    margin-bottom: 40px;
  }
  .equipment05 .sec02 .lists li.pc {
    display: none;
  }
  .equipment05 .sec02 .lists li:last-child {
    width: 100%;
    margin-bottom: 0;
  }
  .equipment05 .sec02 .list01 .lead-box {
    display: block;
  }
  .equipment05 .sec02 .list01 .lead-box .lead {
    width: 100%;
    float: none;
    margin-bottom: 20px;
  }
  .equipment05 .sec02 .list01 .lead-box .image {
    width: 100%;
    margin: auto;
  }
  .equipment05 .sec02 .list02 .full .lead,
  .equipment05 .sec02 .list02 .full .image {
    width: 100%;
  }
  .equipment05 .sec02 .list02 .full .image {
    margin-bottom: 40px;
  }
  .equipment05 .sec02 .list02 .half {
    width: 100%;
  }
  .equipment05 .sec02 .list02 .half .image {
    margin-bottom: 20px;
  }
  .equipment05 .sec02 .list02 .half.pc {
    display: none;
  }
  .equipment05 .sec03 .lists li {
    width: 100%;
  }
  .equipment05 .sec03 .lists li .lead {
    width: 100%;
  }
  .equipment05 .sec03 .lists li .image.right {
    width: 100%;
    float: none;
  }
  .equipment05 .sec03 .lists li .lead.left {
    width: 100%;
    float: none;
    margin-bottom: 10px;
  }
  .equipment05 .sec03 .lists li.double {
    width: 100%;
    margin-bottom: 40px;
  }
  .equipment05 .sec03 .list01 {
    margin-bottom: 40px;
  }
  .equipment05 main {
    padding-bottom: 50px;
  }
}/*# sourceMappingURL=equipment05.css.map */