@charset "UTF-8";
/* 
  css設定 @charsetが消されるsass仕様へのハック用コメントです。削除しないでください。新規作成時も必須！
 */
.breadcrumb {
  padding: 20px 2%;
  border-top: 1px solid #f1e9dc;
  border-bottom: 1px solid #f1e9dc;
  background: #fff;
  color: #000;
}

.breadcrumb ul {
  display: flex;
  flex-wrap: wrap;
  font-size: 1.4rem;
  font-weight: 300;
  letter-spacing: 0.02em;
  color: #888;
}

.breadcrumb ul li a {
  color: #000;
}

.breadcrumb ul li:not(:last-child) a::after,
.breadcrumb ul li:not(:last-child) p::after {
  content: " ＞ ";
  display: inline-block;
}

.annotation-area {
  background: #fff;
  color: #797979;
  padding: 40px 0;
}

.page-annotation {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 10px;
  line-height: 1.8;
}

.wrap {
  margin: 0 auto;
  width: 84%;
  max-width: 1200px;
}

.location03 main img {
  max-width: 100%;
}
.location03 .image {
  position: relative;
}
.location03 .image .annotation {
  position: absolute;
  bottom: 10px;
  right: 10px;
  text-align: right;
  font-size: 10px;
}
.location03 .image .annotation.white {
  color: #fff;
  text-shadow: 0px 0px 4px #000, 0px 0px 4px #000, 0px 0px 4px #000, 0px 0px 4px #000;
}
.location03 .location-link {
  color: #000;
}
.location03 main {
  color: #000;
  font-family: "RyuminPro", serif;
  line-height: 1;
}
.location03 sup {
  vertical-align: text-top;
}
.location03 .page-annotation {
  font-family: "Noto Sans JP", sans-serif;
}
.location03 .main-visual {
  position: relative;
  display: inline-block;
  padding-bottom: 300px;
  border: none;
}
.location03 .main-visual .image {
  position: relative;
  display: inline-block;
}
.location03 .main-visual .image::after {
  content: "";
  position: absolute;
  bottom: -217px;
  left: 0;
  right: 0;
  width: 1px;
  height: 220px;
  margin: auto;
  background-color: #000;
}
.location03 .sections .inner {
  margin: 0 auto;
  width: 84%;
  max-width: 1200px;
}
.location03 .sections .image {
  position: relative;
}
.location03 .sections .annotation {
  font-size: 10px;
  text-align: right;
}
.location03 .sections .column02 li {
  vertical-align: top;
  display: inline-block;
  width: 48.5%;
  margin-right: 2%;
}
.location03 .sections .column02 li:nth-child(2n),
.location03 .sections .column02 li:last-child {
  margin-right: auto;
}
.location03 .sections .column03 li {
  vertical-align: top;
  display: inline-block;
  width: 32%;
  margin-right: 1%;
}
.location03 .sections .column03 li:nth-child(3n),
.location03 .sections .column03 li:last-child {
  margin-right: auto;
}
.location03 .intro {
  text-align: center;
  margin-bottom: 100px;
}
.location03 .intro .tit {
  font-size: 30px;
  line-height: 2;
}
.location03 .areas {
  margin-bottom: 120px;
}
.location03 .areas .caps {
  text-align: right;
  margin-top: 10px;
  font-size: 10px;
  line-height: 1.6;
}
.location03 .areas .img00 {
  margin-bottom: 80px;
}
.location03 .areas .text {
  font-size: 24px;
  line-height: 1.6;
  margin-bottom: 40px;
}
.location03 .areas .lead {
  font-size: 18px;
  line-height: 1.8;
  margin-bottom: 40px;
}
.location03 .areas .box {
  background: #cddfe1;
  padding: 20px;
  box-sizing: border-box;
  margin-bottom: 40px;
}
.location03 .area01 .column02.bottom {
  margin-bottom: 40px;
}
.location03 .area01 .column02.bottom .txt {
  margin-top: 20px;
  display: inline-flex;
  height: 60px;
}
.location03 .area01 .column02 .txt.info {
  margin-top: 20px;
  display: inline-flex;
  height: 60px;
}
.location03 .area02 {
  margin-bottom: 0;
}
.location03 .area02 .box {
  padding: 20px 20px 40px;
}
.location03 .area02 .column02 {
  margin-bottom: 20px;
}
.location03 .area02 .column02 .txt {
  margin-top: 10px;
  display: inline-flex;
  height: 60px;
}
.location03 .area02 .event {
  position: relative;
}
.location03 .area02 .event .lead {
  width: 68%;
}
.location03 .area02 .event .mini {
  font-size: 10px;
}
.location03 .area02 .event .image {
  position: absolute;
  right: 0;
  bottom: -20px;
  width: 50%;
}
.location03 .area03 .column02.bg {
  background: #eeebe4;
  margin-bottom: 40px;
}
.location03 .area03 .column02.bg .info {
  padding: 20px 10px 10px 0;
}
.location03 .area03 .column02.bg .info.right {
  padding: 20px 0 10px 20px;
}
.location03 .area03 .column02.bg .imgs .image {
  display: inline-block;
  width: 49%;
}
.location03 .area03 .column02.bg .lead {
  margin: 5px 0;
}
.location03 .area03 .column02.bg .txt {
  display: inline-flex;
  height: 70px;
}
.location03 .area03 .bg01 {
  background: #eeebe4;
  padding: 20px;
  box-sizing: border-box;
}
.location03 .area03 .bg01 .column02.list01 {
  border-bottom: 0.5px solid #000;
  margin-bottom: 20px;
  padding-bottom: 20px;
}
.location03 .area03 .bg01 .column02.list01 .name {
  font-size: 26px;
  line-height: 1;
}
.location03 .area03 .bg01 .column02.list01 .name span {
  font-size: 16px;
}
.location03 .area03 .bg01 .column02.list01 .lead {
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 0;
}
.location03 .area03 .bg01 .column02.list02 li .annotation {
  right: auto;
  left: 10px;
}
.location03 .area03 .bg01 .column02.list02 .lead {
  width: 62%;
  margin: 10px 0;
}
.location03 .area03 .bg01 .column02.list02 .txt {
  display: inline-flex;
  height: 84px;
}
.location03 .area03 .bg01 .column02.list02 .point {
  position: absolute;
}
.location03 .area03 .bg01 .column02.list02 .point.point01 {
  max-width: 230px;
  width: 40%;
  right: 0;
  bottom: -64%;
}
.location03 .area03 .bg01 .column02.list02 .point.point02 {
  max-width: 210px;
  width: 38%;
  right: -2%;
  bottom: -47%;
}
.location03 .life-info {
  text-align: center;
  margin-bottom: 100px;
}
.location03 .life-info .inner {
  margin: 0 auto;
  width: 84%;
  max-width: 1200px;
}
.location03 .life-info .title {
  font-size: 24px;
  background: #1b2c58;
  color: #fff;
  padding: 10px 0;
  margin-bottom: 10px;
}
.location03 .life-info .text {
  font-size: 26px;
  line-height: 1.6;
  padding: 10px 0;
  margin: 40px 0 20px;
  border-top: 1px solid;
  border-bottom: 1px solid;
}
.location03 .life-info .tab-inner {
  display: none;
}
.location03 .life-info .tab-inner.current {
  display: inherit;
}
.location03 .life-info .change-buttons {
  text-align: center;
  margin: 0 auto 40px;
}
.location03 .life-info .change-buttons li {
  vertical-align: top;
  text-align: center;
  display: inline-block;
  width: 19%;
}
.location03 .life-info .change-buttons .button {
  display: block;
  font-size: 20px;
  padding: 20px 0;
  background: rgba(89, 89, 88, 0.4);
  box-sizing: border-box;
}
.location03 .life-info .change-buttons .button01 {
  color: #d79b35;
  border: 3px solid #d79b35;
}
.location03 .life-info .change-buttons .button02 {
  padding: 10px 0;
  color: #6aa392;
  border: 3px solid #6aa392;
}
.location03 .life-info .change-buttons .button03 {
  color: #5c6380;
  border: 3px solid #5c6380;
}
.location03 .life-info .change-buttons .button04 {
  color: #a48b78;
  border: 3px solid #a48b78;
}
.location03 .life-info .change-buttons .button05 {
  padding: 10px 0;
  color: #857291;
  border: 3px solid #857291;
}
.location03 .life-info .change-buttons .button.current {
  pointer-events: none;
  background: #fff;
}
.location03 .life-info .change-buttons .button:hover {
  cursor: pointer;
  opacity: 1;
  background: #fff;
  transition: 0.3s;
}
@media screen and (max-width: 768px) {
  .location03 sp {
    display: block;
  }
  .location03 pc {
    display: none;
  }
  .location03 .main-visual {
    padding-bottom: 100px;
  }
  .location03 .main-visual .image::after {
    bottom: -60px;
    height: 60px;
  }
  .location03 .sections .column02 li {
    display: block;
    width: 100%;
    margin-bottom: 20px;
  }
  .location03 .sections .column02 li:last-child {
    margin-bottom: auto;
  }
  .location03 .sections .column03 li {
    display: block;
    width: 100%;
    margin-bottom: 20px;
  }
  .location03 .sections .column03 li:last-child {
    margin-bottom: auto;
  }
  .location03 .intro {
    text-align: left;
    margin-bottom: 40px;
  }
  .location03 .intro .tit {
    font-size: 22px;
  }
  .location03 .areas {
    margin-bottom: 60px;
  }
  .location03 .areas .img00 {
    margin-bottom: 30px;
  }
  .location03 .areas .text {
    font-size: 20px;
    line-height: 1.8;
    margin-bottom: 20px;
  }
  .location03 .areas .lead {
    font-size: 16px;
    line-height: 2;
    margin-bottom: 20px;
  }
  .location03 .area01 .column02.bottom {
    margin-bottom: 20px;
  }
  .location03 .area01 .column02.bottom .txt {
    margin-top: 10px;
    height: 34px;
  }
  .location03 .area01 .column02 .txt.info {
    height: 34px;
  }
  .location03 .area02 {
    margin-bottom: 0;
  }
  .location03 .area02 .column02 .txt {
    height: 34px;
  }
  .location03 .area02 .event {
    position: relative;
  }
  .location03 .area02 .event .lead {
    width: 100%;
  }
  .location03 .area02 .event .image {
    position: inherit;
    width: 100%;
  }
  .location03 .area03 .column02.bg {
    margin-bottom: 20px;
    padding-bottom: 10px;
  }
  .location03 .area03 .column02.bg .info {
    padding: 0;
  }
  .location03 .area03 .column02.bg .info.right {
    padding: 0;
  }
  .location03 .area03 .column02.bg .imgs.top {
    margin-top: 20px;
  }
  .location03 .area03 .column02.bg .lead {
    width: 94%;
    margin: 5px auto;
  }
  .location03 .area03 .column02.bg .txt {
    display: block;
    width: 94%;
    margin: auto;
  }
  .location03 .area03 .column02.bg .txt img {
    height: 70px;
  }
  .location03 .area03 .bg01 {
    padding: 20px 10px;
  }
  .location03 .area03 .bg01 .column02.list01 {
    margin-bottom: 10px;
    padding-bottom: 10px;
  }
  .location03 .area03 .bg01 .column02.list01 .name {
    font-size: 22px;
  }
  .location03 .area03 .bg01 .column02.list01 .name span {
    font-size: 12px;
  }
  .location03 .area03 .bg01 .column02.list02 .lead {
    width: 62%;
    margin: 10px 0;
  }
  .location03 .area03 .bg01 .column02.list02 .txt {
    display: inline-flex;
    height: 60px;
  }
  .location03 .area03 .bg01 .column02.list02 .point.point02 {
    right: 0;
  }
  .location03 .life-info {
    margin-bottom: 40px;
  }
  .location03 .life-info .title {
    font-size: 20px;
  }
  .location03 .life-info .text {
    text-align: left;
    font-size: 16px;
    margin: 20px 0 10px;
  }
  .location03 .life-info .change-buttons {
    text-align: center;
    margin: 20px auto;
  }
  .location03 .life-info .change-buttons li {
    display: block;
    width: 100%;
    margin-bottom: 10px;
  }
  .location03 .life-info .change-buttons .button {
    font-size: 14px;
    padding: 14px 0;
  }
}/*# sourceMappingURL=location03.css.map */